<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %> 
    <body>
        <%- include('../partials/header') %> 
        <main>
            <section class="pDetail-container">

                <article class="pDetail-images-container">
                    <div class="pDetail-image">
                        <img class="pDetail-image-img" src="<%= product.image[0] %>" alt=" ">
                    </div>
                    <div class="pDetail-zoomImage-container">
                        <div class="pDetail-zoomImage-items">
                            <img src="<%= product.image[1] %>" alt="photo of piano ">
                        </div>
                        <div class="pDetail-zoomImage-items">
                            <img src="<%= product.image[2] %>" alt="photo of piano ">
                        </div>
                        <div class="pDetail-zoomImage-items">                            
                            <img src="<%= product.image[3] %>" alt="photo of piano ">
                        </div>
                    </div>
                </article>

                <!-- ************** product title, price,buttons ************** -->
                <article class="pDetail-buy-payment-container">
                    <div class="pDetail-buy-container">
                        <div class="pDetail-title-container">
                            <h3 class="pDetail-title">
                                <%= product.name %>
                            </h3>
                        </div>
                        <div class="pDetail-price-container">
                            <p class="pDetail-price">
                                $ <%= product.price %>
                            </p>
                        </div>
        
        
                        <div class="pDetail-buttons-container">
        
                            <div class="pDetail-counter">
                                <span class="minus">-</span>
                                <span class="num">01</span>
                                <span class="plus">+</span>
                            </div>
        
                            <div class="pDetail-buy-now">
                                <button type="button" class="buy-now-i">Buy now</button>
                            </div>
        
        
        
                            <div class="pDetail-add-cart">
                                <button type="button" class="add-cart-i">Add to cart</button>
                            </div>
        
                        </div>
                    </div>
                    
                    <div class="pDetail-payment-container">
    
                        <!-- title -->
                        <div>
                            <p class="pDetail-payment-title">
                                Payment Methods
                            </p>
                        </div>
                        <!-- logos container -->
                        <div class="pDetail-payment-logos-container">
        
                            <!-- credit -->
                            <div class="pDetail-credit-div">
                                <p class="credit-p">
                                    Credit cards
                                </p>
                                <div class="pDetail-credit-logosContainer">
        


                                    <div>
                                        <img class="pDetail-credit-logo" src="/images/icons-m/visad-m.png" alt="">
                                    </div>
        
                                    <div>
                                        <img class="pDetail-credit-logo" src="/images/icons-m/master-m.png" alt="">
                                    </div>
        
                                    <div >
                                        <img class="pDetail-credit-logo"src="/images/icons-m/naranja-m.png" alt="">
                                    </div>
        
                                </div>
                            </div>
        
                            <!-- debit -->
                            <div class="pDetail-debit-div">
                                <p class="debit-title">
                                    Debit cards
                                </p>
                                <div class="pDetail-debit-logosContainer">
                                    
                                    
                                    <div >
                                        <img  class="pDetail-debit-logo" src="/images/icons-m/visad-m.png" alt="">
                                    </div>
                                    <div>
                                        <img class="pDetail-debit-logo" src="/images/icons-m/masterd-m.png" alt="">
        
                                    </div>
                                    <div >
                                        <img class="pDetail-debit-logo" src="/images/icons-m/cabal-m.png" alt="">
                                    </div>
                                </div>
                            </div>
        
                            <!-- cash -->
                            <div class="pDetail-cash-div">
                                <p class="cash-title">
                                    cash
                                </p>
                                
                                <div class="pDetail-cash-logosContainer">
                                    <div >
                                        <img class="pDetail-cash-logo" src="/images/icons-m/rapi-m.png" alt="">
                                    </div>
                                    <div >
                                        <img class="pDetail-cash-logo" src="/images/icons-m/pago-m.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                
                <!-- ************** characteristic ************** -->
                <article class="characteristic-description">
                    <!-- characteristic -->
                    <hr class="pDetail-hr">
                    <div class="pDetail-characteristic-container">
                        
                        <h4 class="pDetail-characteristic-title">
                                Characteristic
                        </h4>
                        <div class="characteristic-list-container">
                            <ul class="pDetail-list">
                                <li class="pDetail-list-item">Resplendent tone and great power.</li>
                                <li class="pDetail-list-item">Made in Japan.</li>
                                <li class="pDetail-list-item">Weight: 351kg.</li>
                                <li class="pDetail-list-item">Dimensions: 200x153x102cm.</li>
                                <li class="pDetail-list-item">Action Kawai Millennium Ultra Responsive Action Soundboard.
                                </li>
                                <li class="pDetail-list-item">solid fir</li>
                                <li class="pDetail-list-item">Soft, full sustain and sustain pedals.</li>
                                <li class="pDetail-list-item">Ebony Polish finishes.</li>
                                <li class="pDetail-list-item">Dimensions 197 x 153 x 102 cm</li>
                            </ul>
                        </div>
                    </div>
                    <!-- description -->
                    <div class="pDetail-description">
                        <hr class="pDetail-hr">
                        <h4 class="pDetail-description-title">
                                Description
                        </h4>                    
                        <p class="pDetail-description-text">
                            For over 85 years, KAWAI has been the architect of the modern piano, not only for the ideas but
                            for the state-of-the-art materials that revolutionized piano making.
                        </p>
                        <p class="pDetail-description-text">
                            Today we can affirm that nine decades of experience and tradition gave rise to the excellent
                            sound and pulsation. All this would be impossible to preserve and maintain for tomorrow without
                            the renowned technology that characterizes KAWAI.
                        </p>
                        <p class="pDetail-description-text">
                            This innovative spirit is the essence and the main reason KAWAI keeps a generation ahead in
                            delivering outstanding and enduring performance.
                        </p>
                        <p class="pDetail-description-text">
                            The GL series of grand pianos possess all the essential qualities that have made KAWAI pianos
                            the favorite choice of pianists and teachers for generations.
                        </p>
                    </div>
                </article>
            </section>
            <hr class="pDetail-hr">
            <h2 class="pDetail-recommend-title">Recommended</h2>
            <%- include('../partials/sliderOffers') %>
        </main>
        <%- include('../partials/footer') %> 
    </body>
</html>