<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head',{
        title: "Editar producto"
    }) %> 
<body>
    <%- include('./partials/header') %> 
    <main class="main-admin">
        <h2>Edit Product</h2>
        <section class="main-form-create">
            <form class="admin-form" action="/admin/update/<%= product.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                <div class="left-container"> 

                    <div class="admin-box">
                        <label for="name">Product Title</label>
                        <input type="text" name="name" id="" value="<%= product.name %>">
                        <span class="validation-text" ><%= locals.errors && errors.name ? errors.name.msg : null%></span>                
                    </div>   

                    <div class="admin-box">
                        <label for="price">Price</label>
                        <input type="number" name="price" id="price" value="<%= product.price %>">
                        <span class="validation-text"><%= locals.errors && errors.price ? errors.price.msg : null%></span>
                    </div>

                    <div class="admin-box">                    
                        <label for="discount">Discount</label>
                        <input type="number" name="discount" id="discount" value="<%= product.discount %>">
                        <span class="validation-text" ><%= locals.errors && errors.discount ? errors.discount.msg : null%></span>            
                    </div>

                    <div class="admin-box box-description">
                        <label for="description">Description</label>
                        <textarea name="description" id="text-description" cols="30" rows="3" style="resize: none;"><%= product.description %></textarea>                        
                        <span class="validation-text" ><%= locals.errors && errors.description ? errors.description.msg : null%></span>
                    </div>                    
                </div>

                <div class="right-container">
                    <div class="img-create-preview">
                        <h2>PREVIEW</h2>
                        <img src="/images/instruments/<%= product.images[0] ? product.images[0].name : 'default-image.png' %>" id="imagePreview" alt="<% product.images[0] ? product.images[0].name : 'default-image.png' %>">
                    </div>
                    <div class="into-admin-box">
                        <div class=" add-img">
                            <label for="image">ADD IMAGE</label>
                            <input type="file" name="image" id="image" accept="image/png, image/jpeg, image/gif, image/jpg" multiple>
                            <!-- <span class="validation-text" hidden>Required Field</span> -->
                        </div>  
                        <div class="admin-box">
                            <label for="category">Category</label>
                            <select name="category" id="category-select">
                                <option value="" hidden selected>Categories</option>
                                <% categories.forEach(category => { %>
                                    <option value="<%= category.id %>" <%= product.categoryId === category.id ? 'selected' : null %>><%= category.name %> </option>
                                <% }) %>
                            </select>
                            <span class="validation-text">Required Field</span>
                        </div>  
                    </div>
                </div>
                <div class="btn-send-create">
                    <button type="submit">Save Changes</button>
                </div>
            </form>        
        </section>
    </main>
    <%- include('./partials/footer') %>
    <script>
        document.getElementById('image').addEventListener('change', (e) => {
        let reader = new FileReader();
        reader.readAsDataURL(e.target.files[0])
        reader.onload = () => {
            document.getElementById('imagePreview').src = reader.result
        }
        })
    </script>
</body>
</html>