<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head',{
        title: "Editar producto"
    }) %> 
<body>
    <%- include('./partials/header') %> 
    <main class="main-admin">
        <h2>Edit Product</h2>
        <section class="main-form-create">
            <form id="editProduct" class="admin-form" action="/admin/update/<%= product.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                <div class="left-container"> 

                    <div class="admin-box">
                        <label for="name">Product Title</label>
                        <input type="text" name="name" id="name" value="<%= product.name %> " class="form-control product-form-text">
                        <span class="alert-validation" id="errorName" ><%= locals.errors && errors.name ? errors.name.msg : null%></span>                
                    </div>   

                    <div class="admin-box">
                        <label for="price">Price</label>
                        <input type="number" name="price" id="price" value="<%= product.price %>" class="form-control product-form-text">
                        <span class="alert-validation" id="errorPrice"><%= locals.errors && errors.price ? errors.price.msg : null%></span>
                    </div>

                    <div class="admin-box">                    
                        <label for="discount">Discount</label>
                        <input type="number" name="discount" id="discount" value="<%= product.discount %>" class="form-control product-form-text">
                        <span class="alert-validation" id="errorDiscount"><%= locals.errors && errors.discount ? errors.discount.msg : null%></span>            
                    </div>

                    <div class="admin-box box-description">
                        <label for="description">Description</label>
                        <textarea name="description" id="description" cols="30" rows="7" style="resize: none;" class="form-control product-form-text"><%= product.description %></textarea>                        
                        <span class="alert-validation" id="errorDescription"><%= locals.errors && errors.description ? errors.description.msg : null%></span>
                    </div>
                    
                </div>

                <div class="right-container">
                    <div class="img-create-preview">
                        <h2>PREVIEW</h2>
                        <img src="/images/instruments/<%= product.images[0] ? product.images[0].name : 'default-image.png' %>" id="imagePreview" alt="<% product.images[0] ? product.images[0].name : 'default-image.png' %>">
                    </div>
                    <div class="into-admin-box">
                        
                        <div class=" add-img">
                            <label for="image">ADD IMAGE</label>
                            <input type="file" name="image" id="image" accept="image/png, image/jpeg, image/gif, image/jpg" multiple>
                            <span class="alert-validation"  id="errorImage" ></span>
                        </div>  
                        <div class="admin-box">
                            <label for="category">Category</label>
                            <select name="category" id="category" class="form-control product-form-text">
                                <option value="" hidden selected>Categories</option>
                                <% categories.forEach(category => { %>
                                    <option value="<%= category.id %>" <%= product.categoryId === category.id ? 'selected' : null %>><%= category.name %> </option>
                                <% }) %>
                            </select>
                            <span class="alert-validation" id="errorCategory"><%= locals.errors && errors.category ? errors.category.msg : null%></span>
                        </div>  
                    </div>
                </div>

                <div class="btn-send-create">
                    <button type="submit">Save Changes</button>
                    <span class="alert-validation" id="errorForm"></span>
                    </div>
                </div>
            </form>        
        </section>
        
    </main>
    <%- include('./partials/footer') %>
    <script src="/js/imgPreview.js"></script>
    <script src="/js/editProduct.js"></script>
    <script src="/js/menubar.js"></script>
</body>
</html>