<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %> 
<body>
    <%- include('./partials/header') %>
          
            <div class="container">
                <section class="row mt-5">
                    <article class="col-12 col-md-10 col-lg-8 mx-auto">
                      <button class="btn-admin btn-create" style="margin-left:50%;">
                        <a href="/admin/panel">Panel</a>
                      </button>
                        <div class="card">
                            <div class="card-header">
                                <p class="card-title">Productos </p>
                            </div>
                            <div class="card-body">
                                <table class="table">
                                    <thead>
                                      <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Precio</th>
                                        <th scope="col">Acciones</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                        <% products.forEach(({id,name,price}) => { %>
                                            <tr>
                                                <th scope="row"><%= id %> </th>
                                                <td><%= name %> </td>
                                                <td><%= price %> </td>
                                                <td class="buttons">
                                                    <a href="/products/productDetail/<%= id %>" class="btn btn-sm btn-primary"><i class="fas fa-eye"></i></a>
                                                  
                                                <a href="/admin/edit/<%= id %>" class="btn btn-sm btn-success m-1"><i class="fas fa-edit"></i></a>
                                                <form action="/admin/remove/<%= id %>?_method=DELETE" method="POST">
                                                  <button type="submit" class="btn btn-sm btn-danger m-1"><i class="fas fa-trash-alt"></i></button>
                                              </form>
                                                </td>
                                            </tr>
                                        <% }) %>
                                    </tbody>
                                  </table>
                            </div>
                            <div class="card-footer d-flex justify-content-end">
                                    <nav aria-label="Page navigation example">
                                        <ul class="pagination pagination-sm">
                                          <li class="page-item">
                                            <a class="page-link" href="#" aria-label="Previous">
                                              <span aria-hidden="true">&laquo;</span>
                                            </a>
                                          </li>
                                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                                          <li class="page-item"><a class="page-link" href="#">3</a></li>
                                          <li class="page-item">
                                            <a class="page-link" href="#" aria-label="Next">
                                              <span aria-hidden="true">&raquo;</span>
                                            </a>
                                          </li>
                                        </ul>
                                 </nav>                                                         
                            </div>
                        </div>
                    </article>        
                </section>
            </main>
            <%- include('./partials/footer') %>
            <script src="/js/menubar.js"></script>

    </body>

</html>