<!DOCTYPE html>
<html lang="es">
    <%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>

    <main class="l__main">
        <form class="form-login" method="POST" action="">
            <h1>Welcome!</h1>
            <div class="l__main__credentials">
                <label for="email">Email</label>
                <input class="l__main__credentials__imput" 
                type="email" id="email" name="userEmail"
                    placeholder="Please, enter your email" />
                    <span class="l__text__errors">
                        <%= locals.errores && errores.userEmail ? errores.userEmail.msg : null %>
                    </span>
            </div>
            <div class="l__main__credentials">
                <label for="nombre">Password</label>
                <input class="l__main__credentials__imput" type="password" id="password" name="userPass"
                    placeholder="Please, enter your password" />
                <span class="l__text__errors">
                    <%= locals.errores && errores.userPass ? errores.userPass.msg : null %>.
                </span>
            </div>
            <button class="l__main__login">Login</button>
            <div class="l_main__credentials__remember">
                <input type="checkbox" name="remember" id="remember">
                <label for="remember">Remember me</label>
            </div>
            <nav class="l__main__options">
                <ul>
                    <li class="l__main__options__link">
                        <a href="#">
                            I don't remember my password
                        </a>
                    </li>
                    <li class="l__main__options__link">
                        <a href="/users/register">
                            Register
                        </a>
                    </li>
                </ul>
            </nav>
        </form>
    </main>

    <!-- FOOTER -->
    <%- include('./partials/footer') %>
</body>

</html>