<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>

  <body>
    <%- include('./partials/header') %>
    <main class="products-main">
      <div class="bg-main">
        <div class="container-products">
          <div class="padding-general">
            <div class="anchor-index">
              <a href="/index">home</a>
              <span><i class="fa-solid fa-chevron-right"></i></span>
              <a href="/products/productMain">all products</a>
            </div>
          </div>
          <div class="padding-general">
            <div class="row-direction">
              <div class="column-3 filter-col" id="filter-col">
                <div class="padding-general filter-toggle-box">
                  <button class="button-flat button-hover" id="filter-close">
                    close
                  </button>
                </div>
                <div class="padding-general">
                  <span class="filter-header"> Categories </span>
                  <ul class="filter-list">
                    <li><a href="/products/categoryStrings">Strings</a></li>
                    <li><a href="/products/categoryWind">Wind</a></li>
                    <li><a href="/products/categoryPercussion">Percussion</a></li>
                    <li><a href="/products/categoryIdiophones">Idiophones</a></li>
                    <li><a href="/products/categoryElectronics">Electronics</a></li>
                  </ul>
                </div>

                <div class="padding-general">
                  <span class="filter-header"> Price </span>
                  <div class="price-range">
                    <input type="text" />
                    <span>-</span>
                    <input type="text" />
                  </div>
                </div>
                <div class="padding-general">
                  <span class="filter-header"> Discount </span>
                  <ul class="filter-list">
                    <li>
                      <div class="group-checkbox">
                        <input type="checkbox" id="status1" />
                        <label for="status1">
                          10% OFF
                          <i class="fa-solid fa-check"></i>
                        </label>
                      </div>
                    </li>
                    <li>
                      <div class="group-checkbox">
                        <input type="checkbox" id="status2" />
                        <label for="status2">
                          20% OFF
                          <i class="fa-solid fa-check"></i>
                        </label>
                      </div>
                    </li>
                    <li>
                      <div class="group-checkbox">
                        <input type="checkbox" id="status3" />
                        <label for="status3">
                          30% OFF
                          <i class="fa-solid fa-check"></i>
                        </label>
                      </div>
                    </li>
                    <li>
                      <div class="group-checkbox">
                        <input type="checkbox" id="status4" />
                        <label for="status4">
                          40% OFF
                          <i class="fa-solid fa-check"></i>
                        </label>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="padding-general">
                  <span class="filter-header"> Brands </span>
                  <ul class="filter-list">
                    <li>
                      <div class="group-checkbox">
                        <input type="checkbox" id="brand1" checked="checked" />
                        <label for="brand1">
                          brand 1
                          <i class="fa-solid fa-check"></i>
                        </label>
                      </div>
                    </li>
                    <li>
                      <div class="group-checkbox">
                        <input type="checkbox" id="brand2" />
                        <label for="brand2">
                          brand 2
                          <i class="fa-solid fa-check"></i>
                        </label>
                      </div>
                    </li>
                    <li>
                      <div class="group-checkbox">
                        <input type="checkbox" id="brand3" />
                        <label for="brand3">
                          brand 3
                          <i class="fa-solid fa-check"></i>
                        </label>
                      </div>
                    </li>
                    <li>
                      <div class="group-checkbox">
                        <input type="checkbox" id="brand4" />
                        <label for="brand4">
                          Brand 4
                          <i class="fa-solid fa-check"></i>
                        </label>
                      </div>
                    </li>
                    <li>
                      <div class="group-checkbox">
                        <input type="checkbox" id="brand5" />
                        <label for="brand5">
                          Brand 5
                          <i class="fa-solid fa-check"></i>
                        </label>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="column-9">
                <div class="padding-general filter-toggle-box">
                  <button class="button-flat button-hover" id="filter-toggle">
                    filter
                  </button>
                </div>                
                <div class="box">        
                  <div class="product-cards product-wrap">
                    <% categories.forEach(({id,name,price,discount,images}) => { %>                               
                      <article>
                        <a href="/products/productDetail/<%= id %>">                                                 
                          <img class="pDetail-image-img" src="/images/instruments/<%= images[0] ? images[0].name : 'default-image.png' %>" alt="<%=  images[0] ? images[0].name : 'default-image.png' %>" id="imgMaster" />                        
                        </a>                            
                        <div class="product-cards-info">
                          <h4 id="cards-title"><%= name %></h4>
                          <div class="cards-data">
                            <% if (+discount > 0) { %>
                              <p id="cards-price">$<%= +price %></p>
                              <p id="cards-discount"><%= +discount %>% off</p>
                              <% } else { %>
                            <p id="cards-price">$<%= price %></p>
                            <% }  %>
                          </div>
                        </div>
                      </article>
                    <% }) %>
                  </div>
                </div>
                <div class="padding-general">
                  <ul class="pagination">
                    <li>
                      <a href="#"><i class="fa-solid fa-chevron-left"></i></a>
                    </li>
                    <li><a href="#" class="active0">1</a></li>
                      <li><a href="#">2</a></li>
                      <li><a href="#">3</a></li>
                      <li><a href="#">4</a></li>
                      <li><a href="#">5</a></li>
                     <li>
                      <a href="#"><i class="fa-solid fa-chevron-right"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <%- include('./partials/footer') %>
    <script src="/js/filterProducts.js"></script>
    <script src="/js/menubar.js"></script>
  </body>
</html>