<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head',{ title : 'Profile' }) %>
  <%- include('./partials/header') %>
  <body class="profile">
    <h1>My Profile</h1>

    <div class="profile-dates-avatar">
      <div class="dates-profile">
        <h3 class="profile-edit" for="name">Name: <%= user.userName %></h3>
        <h3 class="profile-edit" for="surname">Surname: <%=user.userSurname %></h3>
        <h3 class="profile-edit" for="email">Email: <%= user.userEmail %></h3>
        <h3 class="profile-edit" for="date">Date of Birth: <%=user.userBirth %></h3>
        <h3 class="profile-edit" for="rol">Rol: <%=user.rol %></h3>
      </div>

      <div class="img-create-preview">
        <h2>User avatar</h2>
        <img src="/images/users/<%=user.avatar ? user.avatar : "default-image-avatar.jpg" %>" id="" alt="" style="height: 300px; width: 300px" />
        <h3 class="profile-edit" for="avatar"> <%= user.userName %></h3>
      </div>
    </div>

    <div class="buttons">
      <button type="button" class="button-register"><a href="/users/update">EDIT</a></button>
      <button type="button" class="button-profile"><a href="/">HOME</a></button>
    </div>
    <%- include('./partials/footer') %>
    <script src="/js/menubar.js"></script>
  </body>
</html>
