<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head',{ title : 'Profile' }) %>

  <body class="profile">
    <h1>My Profile</h1>

    <div class="profile-dates-avatar">
      <div class="dates-profile">
        <h3 class="profile-edit" for="name">Name: <%= userLogin.userName %></h3>
        <h3 class="profile-edit" for="surname">Surname: <%= userLogin.userSurname %></h3>
        <h3 class="profile-edit" for="email">Email: <%= userLogin.userEmail %></h3>
        <h3 class="profile-edit" for="date">Date of Birth: <%= userLogin.userBirth %></h3>
        <h3 class="profile-edit" for="rol">Rol: <%= userLogin.rol %></h3>
      </div>

      <div class="img-create-preview">
        <h2>User avatar</h2>
        <img src="/images/users/<%= user.avatar %>" id="" alt="" style="height: 300px; width: 300px" />
        <h3 class="profile-edit" for="avatar">Attach Avatar:</h3>
      </div>
    </div>

    <div class="buttons">
      <button type="button" class="button-register"><a href="/users/update">EDIT</a></button>
      <button type="button" class="button-profile"><a href="/">HOME</a></button>
    </div>
  </body>
</html>
