<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
  <body>
    <%- include('./partials/header') %>
    <main class="main-register">
      <form class="form-r" action="" method="POST" enctype="multipart/form-data">
        <div class="sign-up">
          <p class="sign-up-p">¡SIGN UP!</p>
        </div>
        <div class="form-div">
          <div class="sign-up">
            <label for="userName" class="name-l">NAME</label>
            <input
              type="text"
              id="name"
              name="userName"
              value="<%= locals.old && old.userName ? old.userName : null %>"
            />
            <span class="alert-validation"
              ><%= locals.errors && errors.userName ? errors.userName.msg : null %></span
            >
          </div>
          <div class="sign-up">
            <label for="surname" class="surname-l">SURNAME</label>
            <input
              type="text"
              id="surname"
              name="userSurname"
              value="<%= locals.old && old.userSurname ? old.userSurname : null %>"
            />
            <span class="alert-validation"
              ><%= locals.errors && errors.userSurname ? errors.userSurname.msg : null %></span
            >
          </div>
          <div class="sign-up">
            <label for="email" class="email-l">EMAIL</label>
            <input
              type="email"
              id="email"
              name="userEmail"
              class="<%= locals.errors && errors.userEmail ? 'is-invalid' : null %>"
              value="<%= locals.old && old.userEmail ? old.userEmail : null %>"
            />
            <span class="alert-validation"
              ><%= locals.errors && errors.userEmail ? errors.userEmail.msg : null %></span
            >
          </div>
          <div class="sign-up">
            <label for="pass1" class="pass1-l">CREATE A PASSWORD</label>
            <input
              type="password"
              id="pass1"
              name="userPass"
              value="<%= locals.old && old.userPass ? old.userPass : null %>"
            />
            <span class="alert-validation"
              ><%= locals.errors && errors.userPass ? errors.userPass.msg : null %></span
            >
          </div>
          <div class="sign-up">
            <label for="pass2" class="pass2-l">CONFIRM PASSWORD</label>
            <input
              type="password"
              id="pass2"
              name="userPassConfirm"
              value="<%= locals.old && old.userPassConfirm ? old.userPassConfirm : null %>"
            />
            <span class="alert-validation"
              ><%= locals.errors && errors.userPassConfirm ? errors.userPassConfirm.msg : null
              %></span
            >
          </div>
          <div class="sign-up">
            <label for="birth" class="birth-l">DATE OF BIRTH</label>
            <input
              type="date"
              id="birth"
              name="userBirth"
              value="<%= locals.old && old.userBirth ? old.userBirth : null %>"
            />
            <span class="alert-validation"
              ><%= locals.errors && errors.userBirth ? errors.userBirth.msg : null %></span
            >
          </div>
          <div class="sign-up">
            <div>
              <img src="" alt="" id="imagePreview" style="height: 250px; width: 250px" />
            </div>
            <label><b>Imagen de perfil:</b></label>
            <input
              id="imgCreate"
              type="file"
              name="avatar"
              class="form-control"
              value="<%= locals.old && old.avatar ? old.avatar : null %>"
              accept="image/png, image/jpeg, image/gif, image/jpg"
            />
            <span class="alert-validation"
              ><%= locals.errors && errors.avatar ? errors.avatar.msg : null %></span
            >
          </div>
          <div class="sign-up-terms">
            <div class="terms-box">
              <input
                type="checkbox"
                name="terms"
                id="terms"
                value="<%= locals.old && old.terms ? old.terms : null %>"
              />
              <label for="terms">Términos y condiciones</label>
            </div>
            <span class="alert-validation"
              ><%= locals.errors && errors.terms ? errors.terms.msg : null %></span
            >
          </div>
          <div class="sign-up-button">
            <button type="submit" class="button-f">SIGN UP</button>
          </div>
        </div>
      </form>
      <!-- FOOTER -->
      <%- include('./partials/footer') %>
    </main>
    <script>
      document.getElementById('imgCreate').addEventListener('change', (e) => {
        let reader = new FileReader();
        reader.readAsDataURL(e.target.files[0]);
        reader.onload = () => {
          document.getElementById('imagePreview').src = reader.result;
        };
      });
    </script>
  </body>
</html>
