<!DOCTYPE html>
<html lang="es">
  <%- include('./partials/head') %>
  <body>

    <%- include('./partials/header') %>
    
    <main>

      <h2>Resultado de la busqueda: "<%= keywords %>"</h2>
      
      <div class="product-cards product-wrap">
        <% if (products.length > 0) { %>
          <% products.forEach(({id,name,price,discount,images}) => { %>
            <article>
              <a href="productDetail/<%= id %>">
                <img class="pDetail-image-img" src="/images/instruments/<%= images[0].name %>" alt="<%= images[0].name %>"
                id="imgMaster" />
              </a>
              <div class="product-cards-info">
                <h4 id="cards-title"><%= name %></h4>
                <div class="cards-data">
                  <% if (discount > 0) { %>
                    <p id="cards-price">$<%= price %></p>
                    <p id="cards-discount"><%= discount %>% off</p>
                  <% } else { %>
                    <p id="cards-price">$<%= price %></p>
                  <% }  %>
                </div>
              </div>
            </article>
          <% }) %>
        <% } else { %>
          <div class="alert alert-warning">No se encontraron resultados.</div>
        <% } %>
      </div>

    </main>

    <%- include('./partials/footer') %>
    <script src="/js/imgPreview.js"></script>
    <script src="/js/menubar.js"></script>
  </body>
</html>