<!DOCTYPE html>
<html lang="es">
  <%- include('./partials/head') %>
  <body>

    <%- include('./partials/header') %>
    
    <main>

      <h2>Resultado de la busqueda: "<%= keyword%>"</h2>
      
      <div class="product-cards product-wrap">
        <% if (products.length > 0) { %>
          <% products.forEach(product => { %>
            <article>
              <a href="productDetail/<%= product.id %>">
                <img src="/images/instruments/<%= product.img[0] %>" alt="" />
              </a>
              <div class="product-cards-info">
                <h4 id="cards-title"><%= product.name %></h4>
                <div class="cards-data">
                  <% if (product.discount > 0) { %>
                    <p id="cards-price">$<%= product.price %></p>
                    <p id="cards-discount"><%= product.discount %>% off</p>
                  <% } else { %>
                    <p id="cards-price">$<%= product.price %></p>
                  <% }  %>
                </div>
              </div>
            </article>
          <% }) %>
        <% } else { %>
          <div class="alert alert-warning">No se encontraron resultados.</div>
        <% } %>
      </div>

    </main>

    <%- include('./partials/footer') %>
  
  </body>
</html>
