<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
    <body>
        <%- include('./partials/header') %>
        <main class="main-register">
            <form class="form-r" action="" method="POST"  enctype="multipart/form-data">
                <div class="sign-up">
                    <p class="sign-up-p">Profile of <%= user.userName %> </p> 
                </div>
                <div class="form-div">
                    <div class="sign-up"> 

                        <label for="userName" class="name-l">NAME</label>
                        <input type="text" id="name" name="userName"
                        value="<%= userLogin.userName %>" />
                        <span class="alert-validation"><%= locals.errores && errores.userName ? errores.userName.msg : null %></span>
                    </div>
                    <div class="sign-up">
                        <label for="surname" class="surname-l">SURNAME</label>
                        <input type="text" id="surname" name="userSurname"
                        value="<%= userLogin.userSurname %>" />
                        <span class="alert-validation"><%= locals.errores && errores.userSurname ? errores.userSurname.msg : null %></span>
                    </div>

                    <!-- <div class="sign-up">
                        <label for="email" class="email-l">EMAIL</label>
                        <input type="email" id="email" name="userEmail"
                        class="//<%= locals.errores && errores.userEmail ? 'is-invalid' : null %>"
                        value="<%= userLogin.userEmail %>" />
                        <span class="alert-validation"><%= locals.errores && errores.userEmail ? errores.userEmail.msg : null %></span>            
                    </div>  -->

                    <div class="sign-up">
                        <label for="birth" class="birth-l">DATE OF BIRTH</label>
                        <input type="date" id="birth" name="userBirth"
                        value="<%= userLogin.userBirth %>" />
                        <span class="alert-validation"><%= locals.errores && errores.userBirth ? errores.userBirth.msg : null %></span>
                    </div>



                    <div class="sign-up">
                        <div>
                            <img src="" alt="" id="imagePreview" style="height: 250px; width: 250px;"/>
                        </div>
                        <label><b>Imagen de perfil:</b></label>
                        <input id="imgCreate" type="file" name="avatar" class="form-control"
                        value="<%= userLogin.avatar %>"/>
                        <span class="alert-validation"><%= locals.errores && errores.avatar ? errores.avatar.msg : null %></span>
                    </div>

                    <div class="sign-up-button">
                        <button type="submit" class="button-f" >Save</button>
                    <a href="/">
                        <button type="button" class="button-f">Cancel</button>
                    </a>
                    </div>
                </div>
            </form>
            <!-- FOOTER -->
            <%- include('./partials/footer') %>
        </main>
        <script>
            	document.getElementById('imgCreate').addEventListener('change',(e)=> {
                let reader = new FileReader();
                reader.readAsDataURL(e.target.files[0])
                reader.onload = () => {
                    document.getElementById('imagePreview').src = reader.result
                }
                })
        </script>
    </body>
</html>