<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %> 
<body>
    <%- include('./partials/header') %>
            <div class="container">
              <button class="btn-admin btn-create" style="margin-left:50%; font-weight: bold;">
                <a href="/admin/panel">Panel</a>
              </button>
                <section class="row mt-5">
                    <article class="col-12 col-md-10 col-lg-8 mx-auto">
                        <div class="card">
                            <div class="card-header">
                                <p class="card-title">Users</p>
                            </div>
                            <div class="card-body">
                                <table class="table">
                                    <thead>
                                      <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Last Name</th>
                                        <th scope="col">e-mail</th>
                                        <th scope="col">Rol</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                        <% users.forEach(({id,userName,userSurname, userEmail, rol}) => { %>
                                            <tr>
                                                <th scope="row"><%= id %> </th>
                                                <td><%= userName %> </td>
                                                <td><%= userSurname %> </td>
                                                <td><%= userEmail %> </td>
                                                <td><%= rol %> </td>
                                                <td class="buttons">                                                                             
                                                <form action="/users/remove/<%= id %>?_method=DELETE" method="POST">
                                                  <button type="submit" class="btn btn-sm btn-danger m-1"><i class="fas fa-trash-alt"></i></button>
                                              </form>
                                                </td>
                                            </tr>
                                        <% }) %>
                                    </tbody>
                                  </table>
                            </div>
                        </div>
                    </article>        
                </section>
            </main>
            <%- include('./partials/footer') %>
            <script src="/js/menubar.js"></script>
    </body>
</html>